[submodule "ext/revm"]
	path = ext/revm
	url = https://github.com/Irys-xyz/revm
[submodule "ext/reth"]
	path = ext/reth
	url = https://github.com/Irys-xyz/reth
[submodule "ext/alloy-core"]
	path = ext/alloy-core
	url = https://github.com/Irys-xyz/alloy-core
[submodule "ext/alloy"]
	path = ext/alloy
	url = https://github.com/Irys-xyz/alloy

[submodule "fixtures/Contracts/lib/openzeppelin-contracts"]
	path = fixtures/Contracts/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "fixtures/Contracts/lib/forge-std"]
	path = fixtures/Contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
