[submodule "ext/revm"]
	path = ext/revm
	url = git@github.com:Irys-xyz/revm
[submodule "ext/reth"]
	path = ext/reth
	url = git@github.com:Irys-xyz/reth
[submodule "ext/alloy-core"]
	path = ext/alloy-core
	url = git@github.com:Irys-xyz/alloy-core
[submodule "ext/alloy"]
	path = ext/alloy
	url = git@github.com:Irys-xyz/alloy
